<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/../styles/app.css" type="text/css">

  <button {{action 'delete' announcement}} class='btn btn-danger'>Delete Announcement</button>
