.housePic {
  height: 400px;
  width: 400px;
}

.jumbotron {
  background-image: url(http://img.decoratingdecorandmore.com/2017/05/16/-l-334ad33129c71418.jpg);

}

#heading {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  font-size: 100px;
}

.well-md {
  width: 50%;
}

#list {
  list-style: none;
}

.rentalButtons {
  display: inline;
}
