.housePic {
  height: 400px;
  width: 400px;
}

html {
  height: 100%;
}
body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://image.freepik.com/free-photo/nature-design-with-bokeh-effect_1048-1882.jpg');
  /*height: 100%;*/
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-image: url(http://img.decoratingdecorandmore.com/2017/05/16/-l-334ad33129c71418.jpg);
}

#heading {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  font-size: 100px;
}

.well-md {
  width: 50%;
  opacity: .90;
}

#list {
  list-style: none;
}

.updelate .update{
  display: inline;
}

.annUpdate div{
  display: inline;
  margin: none;
}

footer {
  left: 50%;
  transform: translate(-50%);
  position: fixed;
  bottom: 3%;
  color: white;
  font-size: 18px;

}
