<div class='container'>
<h2>About Us</h2>

<div class="well well-md">
  <p>Traveling? Homeless? Looking for a change? We offer a wide range of housing options to fit any need! From Nicolas Cage style mansions to shacks where you will definitely get murdered, you can find home here.</p>
</div>

{{#link-to 'contact'}}<h2 class='btn btn-success'>Contact Us</h2>{{/link-to}}
{{#link-to 'index'}}<h2 class='btn btn-success'>Home</h2>{{/link-to}}
</div>
