<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="jumbotron">
  <h1 class='heading'>Super Rentals</h1>
</div>
<div class='container'>
<h2>About Us</h2>

<p>Traveling? Homeless? Looking for a change? We offer a wide range of housing options to fit any need! From Nicolas Cage style mansions to shacks where you will definitely get murdered, you can find home here.</p>

{{#link-to 'contact'}}Contact Us{{/link-to}}
{{#link-to 'index'}}Home{{/link-to}}
</div>
