<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="jumbotron">
  <h1 id='heading'>Super Rentals</h1>
</div>
<div class='container'>
<h2>About Us</h2>

<div class="well well-md">
  <p>Traveling? Homeless? Looking for a change? We offer a wide range of housing options to fit any need! From Nicolas Cage style mansions to shacks where you will definitely get murdered, you can find home here.</p>
</div>

{{#link-to 'contact'}}<h2 class='btn btn-success'>Contact Us</h2>{{/link-to}}
{{#link-to 'index'}}<h2 class='btn btn-success'>Home</h2>{{/link-to}}
</div>
