<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/../styles/app.css" type="text/css">

<div class="jumbotron">
  <h1 id='heading'>Rentopolis</h1>
</div>
<div class='container'>
<h1>Important Announcements</h1>

<h2>Urgent information regarding your property/reservations</h2>

<ul>
  {{#each model as |announcement|}}
    <li><h2>{{announcement.title}}</h2></li>
      <ul class='list-unstyled'>
        <li>{{announcement.body}}</li>
      </ul>
  {{/each}}
</ul><br>

{{new-announcement saveAnnouncement="saveAnnouncement"}}

{{#link-to 'about' class='btn btn-info'}}About Us{{/link-to}}
{{#link-to 'contact' class='btn btn-info'}}Contact Us{{/link-to}}
{{#link-to 'index' class='btn btn-info'}}Home{{/link-to}}
</div>
