
  <div class= "container">
    <header class= "jumbotron">
      <h1 id='heading'>Rentopolis</h1>
    </header>
      {{outlet}}
    <footer>
      <hr>
      Copyright Larralla, Inc. 2017
    </footer>
  </div>
