<div class='container'>
  <div class="well well-md">
    <p>Rentopolis representatives would love to help you choose a destination or answer any boring questions you may have.</p>

    <p>Contact us today!</p>

    <p>
      Second Door on the Left<br>
      House in a Field<br>
      1212 Random Avenue<br>
      Calla's House, OR 97233
    </p>

    <p>(503) 555-1212</p>

    <p>dontemailme@rentopolis.com</p>
  </div>

  {{#link-to 'about'}}<h2 class='btn btn-success'>About Us</h2>{{/link-to}}
  {{#link-to 'index'}}<h2 class='btn btn-success'>Home</h2>{{/link-to}}
</div>
